.priority_high {
    background-color: MistyRose;
}
.priority_normal {
    background-color: #eee;
}
.priority_low {
    background-color: MintCream;
}
.issue_tile { list-style-type: none;
    margin: 3px 3px 3px 0;
    padding: 2px; float: left; width: 100px; min-height: 90px; display: inline-block;
    border: gray solid 1px;
}

.user_icon {
    max-width: 32px;
    man-height: 32px;
    border-radius: 16px;
}